<!DOCTYPE html>

<html>
    <head>
        <title>Home Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./public/css/homePage.css"/>
    </head>
    <body>
        <div id="left-side">
            <img src="./public/img/Logo_Hust.png" alt="HUST" style="width: 60%; padding: 30px 0 0 40px"/><br><br><hr>
            <a href="">CHECK IN ROOM</a><hr>
            <a href="">CHECK OUT ROOM</a><hr> 
            <a href="">RESERVE ROOM</a><hr>
            <a href="">REQUEST HELP</a><hr>
            
        </div>
        
        <div id="top-side">
            <a href="">
                <img src="./public/img/bell_2.png" alt="Notification"
                    style="width: 50px; padding: 5px 0 0 10px"/>
            </a>
        </div>
        
        <div id="main">
            
        </div>
    </body>
</html>
